/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v20-cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v20-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

:root {
  --title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --social-link-color: #AFB1B8;
  --dark-bg-color: #2F303A;
  --team-bg-color:  #F5F4FA;
  --features-bgc:  #F5F4FA;
  --btn-portfolio-bgc: #F5F4FA;
  --hero-bg-color: #C4C4C4;
  --social-link-bg-color: rgba(255, 255, 255, 0.1);
  --about-bg-color:  rgba(47, 48, 58, 0.8);
  --portfolio-img-bg: rgba(33, 150, 243, 0.9);
  --border-color-header: #ECECEC;
  --border-color-card:  #EEEEEE;
  --logo-font-family:  Raleway, sans-serif;
  --main-font-family: Roboto, sans-serif;
  --main-font-size: 14px;
  --main-letter-spacing: 0.03em;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  letter-spacing: var(--main-letter-spacing);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: nornmal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  min-width: 200px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  font-family: var(--logo-font-family);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item {
  width: 44px;
  height: 44px;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-link-color);
  border-radius: 50%;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.social-links__link:hover, .social-links__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-links__icon {
  fill: currentColor;
}

.subscription-form {
  margin-left: auto;
}

.subscription-form__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscription-form__form {
  display: flex;
  justify-content: flex-end;
}

.subscription-form__input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--primary-white-color);
  background: var(--first-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-form__input:focus {
  outline: transparent;
}

.subscription-form__input::placeholder {
  color: var(--footer-contacts-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscription-form__button {
  padding: 10px 28px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subscription-form__icon {
  margin-left: 10px;
}

.footer__contacts {
  padding-right: 13px;
  margin-right: 70px;
}

.address__text {
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
}

.contacts-list--footer {
  display: inline-block;
}

.contacts-list__item--footer:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list__link--footer {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--footer-contacts-color);
  line-height: 1.71;
  font-style: normal;
}

.footer__logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--primary-white-color);
}

.social-links__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.social-links__link--white-color {
  color: var(--primary-white-color);
  background-color: var(--social-link-bg-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 6px;
  margin: 0;
  color: #000000;
  border-radius: 50%;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:hover, .modal-btn:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.modal-btn__icon {
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid var(--border-color-header);
}

.page-header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav__list-link:hover, .site-nav__list-link:focus {
  color: var(--accent-color);
}

.site-nav__list-link--active {
  color: var(--accent-color);
}

.site-nav__list-link--active::after {
  position: absolute;
  opacity: 1;
  transform: translateY(29px);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-position: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image/Img-1.jpg");
  border: 1px solid #000000;
}

.hero__title {
  max-width: 700px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  padding: 10px 32px;
}

.features-list {
  display: flex;
}

.features-list__item {
  width: 270px;
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__icon-wrapper {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background: var(--features-bgc);
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
}

.features-list__text {
  margin-bottom: 0;
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: var(--main-letter-spacing);
}

.about {
  padding-bottom: 94px;
}

.about__list {
  display: flex;
}

.about__list-item {
  position: relative;
  width: 370px;
}

.about__list-item:not(:last-child) {
  margin-right: 30px;
}

.about__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  background-color: var(--about-bg-color);
}

.about__overlay-text {
  margin-bottom: 0;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--team-bg-color);
}

.team__list {
  display: flex;
}

.team__list-item {
  width: 270px;
  background-color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team__list-item:not(:last-child) {
  margin-right: 30px;
}

.team__content {
  padding: 30px 25px;
}

.team__content-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__content-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.customers__list {
  display: flex;
  justify-content: center;
}

.customers__list-item {
  width: 170px;
  height: 90px;
}

.customers__list-item:not(:last-child) {
  margin-right: 30px;
}

.customers__list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  color: var(--social-link-color);
  transition: color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.customers__list-link:hover, .customers__list-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers__list-icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.modal-form-title {
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__contacts {
  margin-bottom: 10px;
}

.modal-form__label {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-contacts {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
}

.form-contacts:last-child {
  margin-bottom: 0;
}

.form-contacts__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form-contacts__input:focus {
  border: 1px solid var(--accent-color);
}

.form-contacts__input:focus + .form-contacts__icon {
  color: var(--accent-color);
}

.form-contacts__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment__area {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.comment__area:focus {
  border: 1px solid var(--accent-color);
}

.comment__area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.checkbox__label::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 15px;
  margin-right: 8.4px;
  background-image: url("../images/icon/icon-check1.svg");
  background-size: cover;
  background-origin: border-box;
  border: 2px solid var(--title-color);
  border-radius: 1px;
  transition: border var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox__input:focus + .checkbox__label::before {
  border: 1px solid var(--accent-color);
}

.checkbox__input:checked + .checkbox__label::before {
  background-color: var(--accent-color);
  border: transparent;
}

.link-contract {
  color: var(--accent-color);
}

.button--submit {
  padding: 10px 55px;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button--submit:hover, .button--submit:focus {
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */