.features-list {
    display: flex;
   
    &__item{
    width: 270px;

        &:not(:last-child) {
        margin-right: 30px;
        }
    }
   
   
    &__icon-wrapper{
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
   
    justify-content: center;
    align-items: center;
   
    background: var(--features-bgc);
    border-radius: 4px;
   }
   
    &__title {
    margin-bottom: 10px;
   
    color: var(--title-color);
    font-size: var(--main-font-size);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: var(--main-letter-spacing);
    text-transform: uppercase;
   }
   
    &__text {
    margin-bottom: 0;
    font-size: var(--main-font-size);
    line-height: 1.71;
    letter-spacing: var(--main-letter-spacing);
    } 
}
   