.logo {
  font-family: var(--logo-font-family);
       
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    }
    
.logo__web {
    color: var(--accent-color);
    }