/* accent color #2196F3;
   logo-color #000000;
   primary text color #757575;
   title color #212121;
   primary white color #FFFFFF;
   footer contacts color: rgba(255, 255, 255, 0.6);
   first-bg-color #2F303A;
   hero-bg-color #C4C4C4;
   second-bg-color:  #F5F4FA;
   border color primary: #ECECEC;
   border color second:  #EEEEEE;
   social-link-color: #AFB1B8;
   social-link-bg-color: rgba(255, 255, 255, 0.1);
   portfolio-img-bg: rgba(33, 150, 243, 0.9);
*/





/* ================================= UTILITES ================================================= */





/* ================================== MAIN CONTAINER ========================================= */

/* ===================================== SITE HEADER============================================ */

/* ===================================== LOGO HEADER============================================ */


/* ===================================== SITE NAV HEADER========================================= */

/* =================================== CONTACTS LIST HEADER========================================== */


/* ========================================= HERO SECTION ============================================== */


/* ========================================= FEATURES SECTION ============================================== */

/* ========================================= ABOUT US SECTION ============================================== */


/* ========================================= OUR TEAM SECTION ============================================== */

/* ========================================= OUR CUSTOMERS SECTION ============================================== */


/* ========================================= FOOTER ============================================== */



/* ========================================= PORTFOLIO ============================================== */

/* ====================================== PORTFOLIO BUTTON =========================================== */

 

 



/* ====================================== PORTFOLIO CARDS =========================================== */












 










/* ======================================= MODAL WINDOW ================================================ */






